include Search

mixin LinkLooper(config)
  if config.title
    p.nav-link.text-700.mb-0.fw-bold=config.title
  each page in config.vars
    - var pageName = page.label ? page.label : page.name
    if config.dropdownItem
      a.dropdown-item.link-600.fw-medium(href=page.name !== 'modal' ? `${CWD}${page.path}.html` : `${CWD}${page.path}` data-bs-toggle=page.name ==="modal" ? 'modal' : false)
        +cleanText(pageName)
        if page.badge
          span.badge.rounded-pill.ms-2(class=`badge-soft-${page.badge.type}`)=page.badge.text

    else
      a.nav-link.py-1.link-600.fw-medium(href=page.name !== 'modal' ? `${CWD}${page.path}.html` : `${CWD}${page.path}` data-bs-toggle=page.name ==="modal" ? 'modal' : false)
        +cleanText(pageName)
        if page.badge
          span.badge.rounded-pill.ms-2(class=`badge-soft-${page.badge.type}`)=page.badge.text



mixin NewTopNav(vars)
  ul.navbar-nav(data-top-nav-dropdowns)
    each item,index in vars.combo? sitemap.slice(0,5) : sitemap
      li.nav-item.dropdown
        if item.label
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id=`${item.label}s`)
            +cleanText(item.label)
        .dropdown-menu.dropdown-menu-card.border-0.mt-0(aria-labelledby=id=`${item.label}s`)
          case item.label
            when 'dashboard'
              .bg-white.dark__bg-1000.rounded-3.py-2
                +LinkLooper({dropdownItem: true,vars:item.pages[0].pages})
            when 'app'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .card.navbar-card-app.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown
                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown
                  .row
                    .col-6.col-md-5
                      .nav.flex-column
                        +LinkLooper({vars:routesCollection.slice(0,2)})
                        +LinkLooper({vars:routesCollection.slice(19, 20)})
                        +LinkLooper({title:"Email",vars:routesCollection.slice(2,5)})
                        +LinkLooper({title:"Events",vars:routesCollection.slice(5,8)})
                        +LinkLooper({title:"Social",vars:routesCollection.slice(20,24)})
                    .col-6.col-md-4
                      .nav.flex-column
                        +LinkLooper({title:"E-Commerce",vars:routesCollection.slice(8,19)})


            when 'pages'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })

              .card.navbar-card-pages.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown
                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Simple Auth",vars:routesCollection.slice(2,9)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Card Auth",vars:routesCollection.slice(9,16)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Split Auth",vars:routesCollection.slice(16,23)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Other Auth",vars:routesCollection.slice(23,25)})
                        +LinkLooper({title:"Miscellaneous",vars:routesCollection.slice(34,37)}) 
                        
                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"User",vars:routesCollection.slice(25,27)})

                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Pricing",vars:routesCollection.slice(27,29)})
                        
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Errors",vars:routesCollection.slice(32,34)})

                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Others",vars:routesCollection.slice(0,2)})
                        
            when 'modules'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .card.navbar-card-components.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown

                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Components",vars:routesCollection.slice(34,45)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-md-4.pt-md-1
                        +LinkLooper({vars:routesCollection.slice(45,56)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({vars:routesCollection.slice(56,67)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({vars:routesCollection.slice(67,78)})

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Forms",vars:routesCollection.slice(0,15)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Tables",vars:routesCollection.slice(15,18)})
                        +LinkLooper({title:"Charts",vars:routesCollection.slice(18,19)})
                        +LinkLooper({title:"ECharts",vars:routesCollection.slice(19,28)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Utilities",vars:routesCollection.slice(78,94)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({title:"Icons",vars:routesCollection.slice(28,32)})
                        +LinkLooper({title:"Maps",vars:routesCollection.slice(32,34)})

            when 'documentation'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .bg-white.dark__bg-1000.rounded-3.py-2
                +LinkLooper({dropdownItem: true, vars:routesCollection})

            default
              p You have #{friends} friends

mixin NavbarSearch
  ul.navbar-nav.align-items-center.d-none.d-lg-block
    li.nav-item
      +Search('Search...')

mixin NavbarBrand(config)
  - var config = Object.assign({ image: true }, config)
  a(href=`${CWD}${paths['default-dashboard']}`).navbar-brand&attributes(attributes)
    if config.image
      .d-flex.align-items-center(class=config.wrapperClass)
        +Logo('falcon')
    else
      span(class=`${config.color}`) #{name}

mixin NavbarToggleIcon(config)
  = '\n'
  button.btn.navbar-toggler-humburger-icon&attributes(attributes)
    span.navbar-toggle-icon
      span.toggle-line
  = '\n'

mixin NavbarIcons
  ul.navbar-nav.navbar-nav-icons.ms-auto.flex-row.align-items-center
    li.nav-item
     .theme-control-toggle.fa-icon-wait.px-2
        input#themeControlToggle.form-check-input.ms-0.theme-control-toggle-input(
          type='checkbox'
          data-theme-control="theme"
          value='dark'
        )
        label.mb-0.theme-control-toggle-label.theme-control-toggle-light(for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme")
          span.fas.fa-sun.fs-0
        label.mb-0.theme-control-toggle-label.theme-control-toggle-dark(for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme")
          span.fas.fa-moon.fs-0

    li.nav-item
      = '\n'
      a.nav-link.px-0.notification-indicator.notification-indicator-warning.notification-indicator-fill.fa-icon-wait(href=`${CWD}${paths['shopping-cart']}`)
        span.fas.fa-shopping-cart(data-fa-transform='shrink-7' style="font-size: 33px;")
        span.notification-indicator-number 1
      = '\n'
    li.nav-item.dropdown
      = '\n'
      a#navbarDropdownNotification.nav-link.notification-indicator.notification-indicator-primary.px-0.fa-icon-wait(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        span.fas.fa-bell(data-fa-transform='shrink-6' style="font-size: 33px;")

      .dropdown-menu.dropdown-menu-end.dropdown-menu-card.dropdown-menu-notification(aria-labelledby='navbarDropdownNotification')
        +CardNotification
      = '\n'
    li.nav-item.dropdown
      a#navbarDropdownUser.nav-link.pe-0(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        +Avatar({img: 'team/3-thumb.png', size: 'xl', status: '', round: 'circle'})
      .dropdown-menu.dropdown-menu-end.py-0(aria-labelledby='navbarDropdownUser')
        +CardUserPreferences 


