/* -------------------------------------------------------------------------- */
/*                                Custom Styles                               */
/* -------------------------------------------------------------------------- */

.content .card .card-body p { padding-bottom: 16px; }
.content .card .card-body .tab-content { padding-top: 8px; padding-bottom: 16px; }

.custom__breadcrumbs { margin-top: 5px; }
.custom__breadcrumbs ol.breadcrumb li.breadcrumb-item { font-size: 13px; }
